
.container{
    background-Image: url('https://i.pinimg.com/originals/9d/bf/35/9dbf35897e2649c9846a4dc91935e111.gif');
    min-width: 100vw;
    min-height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.title{
    font-size: 38px;
    height: 60px;
    margin-top: 0;
    background:rgba(245, 245, 245, 0.171);
    display: flex;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(31, 29, 29);
    padding: 10px;
    
     }

    .form{
        background: rgba(245, 245, 245, 0.281);
        border-radius: 10px;
        max-width: 490px;
        width: 100%;
        margin:0 auto;
        position: relative;
        background-size:auto;
        padding:10px;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 25px;
        align-items: center;
        justify-content: center;
    }

    .titulo{
        display: inline-block;
        width: 140px;
        text-align: right;
        font-size: 19px;
        margin-right: 7px;
        padding-right: 5px;
        padding-left: 5px;
        color: rgb(0, 0, 0);
        border-radius: 3px;
    }

    .inputUno{
        padding: 6px;
        padding-left: 35px;
        padding-right: 35px;
        border: none;
        border-radius: 5px;
        cursor:text;
    }

    .alignUno{
    padding:6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .summary{
        display: inline-block;
        width: 140px;
        text-align: right;
        font-size: 19px;
        margin-right: 7px;
        padding-right: 5px;
        padding-left: 5px;
        color: rgb(0, 0, 0);
        border-radius: 3px;
    }

    .inputDos{
        padding: 6px;
        padding-left: 35px;
        padding-right: 35px;
        border: none;
        border-radius: 5px;
        cursor:text;
    }

    .alignDos{
    padding:6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .score{
        display: inline-block;
        width: 140px;
        text-align: right;
        font-size: 19px;
        margin-right: 7px;
        padding-right: 5px;
        padding-left: 5px;
        color: rgb(0, 0, 0);
        border-radius: 3px;
    }

    .inputTres{
        padding: 6px;
        padding-left: 64px;
        align-items: flex-start;
        border: none;
        border-radius: 5px;
        cursor:text;
    }

    .alignTres{
    padding:6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .healthScore{
        display: inline-block;
        width: 140px;
        text-align: right;
        font-size: 19px;
        margin-right: 7px;
        padding-right: 5px;
        padding-left: 5px;
        color: rgb(0, 0, 0);
        border-radius: 3px;
    }

    .inputCuatro{
        padding: 6px;
        padding-left: 64px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        cursor:text;
    }
    

    .alignCuatro{
    padding:6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }


    .instructions{
        display: inline-block;
        width: 140px;
        text-align: right;
        font-size: 19px;
        margin-right: 7px;
        padding-right: 5px;
        padding-left: 5px;
        color: rgb(0, 0, 0);
        border-radius: 3px;
    }

    .inputCinco{
        padding: 6px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        border-radius: 5px;
        cursor:text;
    }

    .alignCinco{
    padding:6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

    .errorUno{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .diets{
            font-size: 19px;
            padding-right: 5px;
            padding-left: 5px;
            color: rgb(0, 0, 0);
            border-radius: 3px;
        
    }
.types{
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding: 2px;
}

.each{
    cursor: pointer;
}
    .goBack{
        text-decoration: none;
        position: absolute;
        top: 20px;
        font-size: 20px;
        left: 20px;
        color: rgb(255, 179, 65);
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.411);
        border-radius: 7px;
        border:none;
        
    }
    
    .goBack:hover{
        font-size: 22px;
        background-color: rgba(0, 0, 0, 0.61);
        cursor: pointer;
        letter-spacing: 1px;
        transition: all 0.2s ease 0s;
    }
    
    .goBack:active{
        background-color: rgba(0, 0, 0, 0.588);
    }

    .boton{
        margin-top: 16px;
        font-size: 15px;
        color: rgb(0, 0, 0) ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        background: rgb(255, 179, 65);
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        display: inline-block;
        border: none;
        transition: all 0.2s ease 0s;
    }
        
    .boton:hover {
        cursor: pointer;
        font-size: 16px;
        background: #ec8e00;
        letter-spacing: 1px;
        -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
        box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
        transition: all 0.2s ease 0s;
        box-shadow: 0 0 5pt 0.5pt #161616;
    }

    .boton:active{
        background-color: rgb(255, 102, 0);
    }

    body {
        overflow: hidden;
      }