
.bar{
    background-Image: url('https://i.pinimg.com/originals/f3/d5/d7/f3d5d72ebf4f889d9dd7e46d64a98f0d.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
    min-height: 100vh;
    min-width: 100vh;
    padding: 20px;
}

.recetas{
    list-style-type: none;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.loaderContainer{
    display: block;
    justify-content: center;
    align-items: center;


}

.recipeList{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


figure {
    display: table;
}

img, figcaption {
    display: table-cell;
    vertical-align: top;
    width: 130px;
    height: 120px;
    border-radius: 10px;
}

figcaption {
    background-color: rgba(0, 0, 0, 0.37);
    padding-left: 4px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 15px;
}

figure:hover{
    letter-spacing: 0.5px;
    background-color: rgba(0, 0, 0, 0.705);
    cursor: pointer;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}

.loader{
    position: absolute;
    left: 43%;
    top: 10%;
}

.logo{
    height: 120px;
    width: 120px;
}

.error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title{
    color: whitesmoke;
    display: flex;
    text-shadow: 2px 2px #000000;
    justify-content:center;
    font-variant: small-caps;
    font-weight: 800;
    font-size: 28px;
    margin-top: 0;
}
.form{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

.btn{
    color: rgb(0, 0, 0) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	background: rgb(255, 179, 65);
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.2s ease 0s;
}
    
.btn:hover {
    cursor: pointer;
	background: #ffa927;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}

.btn:active{
    background-color: rgb(255, 136, 0);
    box-shadow: 1px 1px 1px 0px rgb(0, 0, 0);
}

.links{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px; left: 20px; 
}

.select{
    position: absolute;
    top: 20px; right:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
    cursor: pointer;
    background:rgb(255, 179, 65);
    border-radius: 5px;
	display: inline-block;
	border: none;
}
.select:hover {
	background: #ffa927;
	letter-spacing: 0.5px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.2s ease 0s;
    box-shadow: 0 0 5pt 0.5pt #161616;
}

.create{
    text-decoration: none;
    color: rgb(255, 179, 65);
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.356);
    border-radius: 7px;
    
}

.create:hover{
    font-size: 21px;
    letter-spacing: 1px;
    transition: all 0.2s ease 0s;
}
.create:active{
    background-color: rgba(0, 0, 0, 0.588);
}

.land{
    text-decoration: none;
    color: rgb(255, 179, 65);
    padding: 8px;
    margin-left: 15px;
    background-color: rgba(0, 0, 0, 0.356);
     border-radius: 7px;
}

.land:hover{
    font-size: 21px;
    letter-spacing: 1px;
    transition: all 0.2s ease 0s;
}

.land:active{
    background-color: rgba(0, 0, 0, 0.588);
}

.input{
    margin-right: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 90px;
    border-radius: 5px;
    border: 0;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.075);

}

.input:hover{
    box-shadow: 0 0 5pt 0.5pt #161616;
    letter-spacing: 1px;
    transition: all 0.2s ease 0s;
}

